.profile__button-add {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: url(/images/outline_add_white_24dp.png) no-repeat center;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
