.footer {
  width: 318px;
  font-family: inherit;
}
.footer__copyright {
  color: #545454;
  /* font-family: Inter; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 68px;
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
    margin: 0 19px;
  }
}
